.HoverArea{
  height:9vh;

}

.Navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(119, 119, 193, 0.573);
  padding: 1vh 0;
  width: 100%;
  position:absolute;
  top:-100%;
  border-radius: 0px;
  box-shadow: var(--boxShadow);
}

.HoverArea:hover {
  transition: transform 300ms ease-out;
  transform: translateY(100%);
}

.between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0;
}

.Navbar img {
  width:8vw;
}

.Navbar button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  display: flex;
  border: none;
  justify-content: center;
  text-decoration: none;
  border-radius: 6px;
  align-items: center;
  width: 10vw;
  height: 5vh;
  padding: 0px;
  box-shadow: none;
}

.Navbar button:hover {
  transition: background-color 300ms ease;
  color: rgb(28, 40, 132);
}
