.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.edit-profile{
  display: flex;
  justify-content: center;
}

.hover:hover{
  cursor: pointer;
}