.Message {
  display: flex;
  flex-direction: row;
  color: black;
  width: 100%;
  padding:0 0.2rem;
  margin: 0.1rem 0px;  
  align-items: center;
}

.Left{
  display: flex;
  align-items: center;
  width: 70%;
  margin-right:auto;
}

.Right{
  margin-right: 1vw;
}

.Left span , .Left img{
  margin-right: 1vw;
}

.user {
  color: rgb(249, 249, 249);
  font-weight: bold;
  text-shadow: var(--textShadow);
}
