.Message {
  display: flex;
  flex-direction: row;
  color: black;
  width: 100%;
  /* padding:0.2rem; */
  margin: 0.1rem 0px;  
  align-items: center;
}

.Left{
  display: flex;
  align-items: center;
  width: 90%;
  margin-right:auto;
}

.Right{
  margin-right: 1vw;
}


.Left span , .Left img{
  margin-right: 1vw;
}

.user {
  font-weight: bold;
}

.user:hover{
  transition: all 250ms ease-in;
  color:rgb(255, 42, 9);
  cursor: pointer;

}