.SubmitMessage {
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 254, 254);
  align-items: center;
  width:100%;
  padding: 0.75rem;
  box-shadow: var(--boxShadow);
}

.SubmitMessage textarea {
  background-color: rgb(127, 127, 245);
  color: black;
  width: 100%;
  height: 10vh;
  resize: none;
  outline: none;
  padding: 5px;
  border: none;
}

.SubmitMessage ::placeholder{
  color: black;
  text-shadow: var(--textShadow);

}


.SubmitMessage button {
  color: white;
  height: 1.5rem;
  margin-top: 10px;
  background-color: #0c78f3;
}

.SubmitMessage button:hover {
  color: white;
  transition: all 300ms ease-in;
  background-color: rgb(49, 49, 155);
}