.SubmitMessage {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  align-items: center;
  width:100%;
  padding: 0.75rem;
  box-shadow: var(--boxShadow);
}

.SubmitMessage textarea {
  width: 100%;
  height: 10vh;
  resize: none;
  outline: none;
  padding: 5px;
  border: none;
}

.SubmitMessage button {
  color: white;
  height: 1.5rem;
  margin-top: 10px;
  background-color: rgb(42, 39, 39);
}

.SubmitMessage button:hover {
  transition: all 300ms ease-in;
  color: rgb(223, 39, 39);
  background-color: rgb(216, 200, 200);
}