.SubHeader{
  display: inline-flex;
  justify-content: center;
  text-shadow: var(--textShadow);
  padding: 0.5rem 0 0.5rem;

}

.clickable{
  align-items: center; 
  display: inline-flex;
  color: black;
  text-shadow: var(--textShadow);
}

.SubHeader h2{
  display: inline-flex;
  justify-content: center;
  text-align: center;
}