:root{
  --boxShadow:1px 1px 8px rgba(0, 0, 0, 0.562);
  --textShadow:1px 1px #13131349;
}

html,body,#root{
  width: 100%;
  margin:0px;
  padding: 0px;
  height: 100%;

}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}


.App *{
  box-sizing: border-box;
}

