.button-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: row-reverse;
  gap: 15px;
  margin-top: 10px;
}

form > div {
  margin-bottom: 15px !important;
}

.submit-button {
  min-width: 60% !important ;
}
